@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos_Text/GolosText-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
.header {
  background-color: #E9DED4;
  position: relative;
  height: 700px;
  overflow: hidden;
}
@media (max-width: 770px) {
  .header {
    height: 821px;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/photo/back.webp");
  mix-blend-mode: color-burn;
  z-index: 1;
}
.header .header__inside {
  position: relative;
  z-index: 3;
}
.header .header__city {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.header .header__city.mobile {
  display: none;
}
@media (max-width: 1280px) {
  .header .header__city {
    transform: translateX(-40%);
  }
}
@media (max-width: 770px) {
  .header .header__city {
    transform: translateX(-50%);
    height: 410px;
    width: auto;
    display: none;
    bottom: -20px;
  }
  .header .header__city.mobile {
    display: block;
  }
}
@media (max-width: 500px) {
  .header .header__city {
    transform: translateX(-67%);
  }
}
.header .header__inside {
  max-width: 1222px;
  margin: 0 auto;
  padding-top: 26px;
}
@media (max-width: 1280px) {
  .header .header__inside {
    margin: 0 20px;
  }
}
.header .header__top {
  display: flex;
  gap: 2px;
}
@media (max-width: 770px) {
  .header .header__top {
    gap: 1.5px;
  }
}
.header .header__top .header__top-text {
  font-size: 16.65px;
  text-transform: uppercase;
  color: #595653;
  font-weight: 700;
  line-height: 108%;
  align-items: center;
}
@media (max-width: 770px) {
  .header .header__top .header__top-text {
    font-size: 14.42px;
  }
}
@media (max-width: 770px) {
  .header .header__top .header__top-horse {
    width: 18.75px;
    height: 27px;
  }
}
.header .header__title {
  margin: 62px 0 24px 0;
  color: #313131;
  font-size: 60px;
  line-height: 110%;
  max-width: 542px;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}
@media (max-width: 770px) {
  .header .header__title {
    font-size: 36px;
    margin-top: 40px;
  }
}
.header .header__title .header__title-span {
  display: block;
  text-align: center;
  font-family: "Merriweather", sans-serif;
}
.header .header__text {
  text-align: center;
  max-width: 542px;
  line-height: 130%;
  font-size: 18px;
  letter-spacing: 0;
}
@media (max-width: 770px) {
  .header .header__text {
    text-align: start;
    max-width: none;
  }
  .header .header__text br {
    display: none;
  }
}
.header .header__bottom {
  display: flex;
  gap: 16px;
  max-width: 542px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0;
}
@media (max-width: 770px) {
  .header .header__bottom {
    flex-direction: column;
    margin-top: 32px;
    gap: 14px;
    max-width: none;
  }
  .header .header__bottom br {
    display: none;
  }
}
.header .header__bottom .header__bottom-button {
  width: 263px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  border-radius: 66px;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}
@media (max-width: 770px) {
  .header .header__bottom .header__bottom-button {
    height: 47px;
    font-size: 16px;
  }
}
.header .header__bottom .header__bottom-button.left {
  color: #FFFFFF;
  background: #1F1F1F;
}
.header .header__bottom .header__bottom-button.left:hover {
  background: #FBCE51;
  color: #FFFFFF;
}
.header .header__bottom .header__bottom-button.right {
  border: 2px solid #1F1F1F;
}
@media (max-width: 770px) {
  .header .header__bottom .header__bottom-button.right {
    background: #FFFFFF;
    border: none;
  }
}
.header .header__bottom .header__bottom-button.right:hover {
  background: #1F1F1F;
  color: #FFFFFF;
}

.run__line {
  width: 100%;
  height: 60px;
  background: #F54932;
  color: #FFFFFF;
  font-size: 22px;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "Merriweather", sans-serif;
}
@media (max-width: 770px) {
  .run__line {
    font-size: 16px;
    height: 38px;
  }
}
.run__line .run__inside {
  align-items: center;
  display: flex;
  gap: 12px;
  animation: runLine 10s infinite linear;
}
.run__line .run__line-text {
  white-space: nowrap;
  width: 100%;
}
.run__line .run__line--dot {
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  flex-shrink: 0;
}

@keyframes runLine {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.lection {
  display: flex;
  gap: 64px;
  align-items: center;
  max-width: 1222px;
  margin: 0 auto;
  margin-top: 80px;
}
@media (max-width: 1280px) {
  .lection {
    margin: 80px 20px 0 20px;
  }
}
@media (max-width: 770px) {
  .lection {
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }
}
.lection .lection__text {
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 135%;
  letter-spacing: 0;
}
@media (max-width: 1280px) {
  .lection .lection__text {
    font-size: 28px;
  }
}
.lection .lection__text .lection__text-span {
  color: #F54932;
  font-weight: 700;
}
@media (max-width: 770px) {
  .lection .lection__text .lection__text-desc {
    display: none;
  }
}
.lection .lection__text.mobile {
  display: none;
}
@media (max-width: 770px) {
  .lection .lection__text.mobile {
    display: block;
  }
  .lection .lection__text.mobile .lection__text-desc {
    display: block;
  }
}
@media (max-width: 1280px) {
  .lection .lection__img {
    width: 40%;
  }
}
@media (max-width: 770px) {
  .lection .lection__img {
    width: 100%;
    max-width: 394px;
  }
}

.price {
  display: flex;
  gap: 44px;
  max-width: 1222px;
  margin: 0 auto;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .price {
    margin: 64px 20px 0 20px;
    gap: 24px;
  }
}
@media (max-width: 770px) {
  .price {
    flex-direction: column;
    margin-top: 34px;
  }
}
.price .price__img {
  width: 474px;
  height: 527px;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .price .price__img {
    width: 316px;
    height: 351.3333333333px;
  }
}
@media (max-width: 770px) {
  .price .price__img {
    width: auto;
    height: 402px;
    margin: 0 auto;
  }
}
.price .price__img::before {
  content: "";
  width: 435px;
  height: 405px;
  background-image: url("../img/photo/price-back.webp");
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1280px) {
  .price .price__img::before {
    width: 290px;
    height: 270px;
  }
}
@media (max-width: 770px) {
  .price .price__img::before {
    width: 309px;
    max-width: 82vw;
    max-height: 75.47vw;
    height: 286px;
  }
}
.price .price__img::after {
  content: "";
  width: 609px;
  height: 570px;
  background-image: url("../img/photo/price1.webp");
  mix-blend-mode: color-burn;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1280px) {
  .price .price__img::after {
    width: 406px;
    height: 380px;
  }
}
@media (max-width: 770px) {
  .price .price__img::after {
    width: 420px;
    height: 402px;
    max-width: 95vw;
    max-height: 95vw;
  }
}
.price .price__img .price__img-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 530px;
  height: 568px;
}
@media (max-width: 1280px) {
  .price .price__img .price__img-img {
    width: 353.3333333333px;
    height: 378.6666666667px;
  }
}
@media (max-width: 770px) {
  .price .price__img .price__img-img {
    width: 375px;
    height: auto;
    max-width: 95vw;
  }
}
.price .price__info {
  text-align: start;
}
.price .price__info .price__text {
  font-size: 36px;
  color: #313131;
  text-transform: uppercase;
  line-height: 135%;
  letter-spacing: 0;
  font-family: "Merriweather", sans-serif;
  word-break: keep-all;
  overflow-wrap: normal;
}
@media (max-width: 1280px) {
  .price .price__info .price__text {
    font-size: 28px;
  }
}
.price .price__info .price__text .price__text-span {
  color: #F54932;
  font-weight: 700;
}
.price .price__info .price__text br {
  display: none;
}
@media (max-width: 400px) {
  .price .price__info .price__text br {
    display: block;
  }
}
.price .price__table {
  width: 100%;
  border-collapse: collapse;
  margin: 60px 0 48px 0;
  font-size: 20px;
  color: #313131;
  line-height: 120%;
  letter-spacing: 0px;
}
@media (max-width: 1280px) {
  .price .price__table {
    font-size: 16px;
    margin: 30px 0 22px 0;
  }
}
@media (max-width: 770px) {
  .price .price__table {
    display: flex;
    width: 100%;
    margin-top: 44px;
    font-size: 20px;
  }
}
.price .price__table .price__tbody {
  width: 100%;
}
.price .price__table .price__table-row {
  width: 100%;
  padding: 16px 0;
}
.price .price__table .price__table-row:not(:last-child) {
  border-bottom: 2px solid #D0D0D0;
}
@media (max-width: 770px) {
  .price .price__table .price__table-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
}
.price .price__table .price__table-row .price__table-header {
  text-align: start;
  padding: 16px 16px 16px 0;
  border-right: 2px solid #D0D0D0;
  font-weight: 400;
  opacity: 0.7;
  width: 306px;
}
@media (max-width: 1280px) {
  .price .price__table .price__table-row .price__table-header {
    width: auto;
  }
}
@media (max-width: 770px) {
  .price .price__table .price__table-row .price__table-header {
    display: block;
    width: 100%;
    padding: 0 0 4px 0;
    border-right: none;
  }
}
.price .price__table .price__table-row .price__table-data {
  padding: 16px 0 16px 16px;
  font-weight: 600;
}
@media (max-width: 770px) {
  .price .price__table .price__table-row .price__table-data {
    display: block;
    width: 100%;
    padding: 0 0 12px 0;
  }
}
.price .price__table .price__table-row .price__table-data .price__table-span {
  text-decoration: line-through;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 2px;
  color: #000000;
}
.price .price__table .price__table-row:first-child {
  padding-top: 0;
}
.price .price__table .price__table-row:first-child * {
  padding-top: 0;
}
@media (max-width: 770px) {
  .price .price__table .price__table-row:first-child .price__table-header {
    padding-top: 0;
  }
}
.price .price__table .price__table-row:last-child {
  padding-bottom: 0;
}
.price .price__table .price__table-row:last-child * {
  padding-bottom: 0;
}
@media (max-width: 770px) {
  .price .price__table .price__table-row:last-child .price__table-data {
    padding-bottom: 0;
  }
}
.price .price__contact {
  color: #3057A2;
  font-size: 20px;
}
@media (max-width: 770px) {
  .price .price__contact {
    font-size: 18px;
  }
}

.transformation {
  color: #313131;
  margin-top: 200px;
  overflow: hidden;
}
@media (max-width: 770px) {
  .transformation {
    margin-top: 120px;
  }
}
.transformation .transformation__inside {
  max-width: 1222px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .transformation .transformation__inside {
    margin: 0 20px;
  }
}
.transformation .transformation__title {
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 400;
  max-width: 806px;
  text-transform: uppercase;
  font-family: "Merriweather", sans-serif;
}
@media (max-width: 770px) {
  .transformation .transformation__title {
    font-size: 36px;
  }
}
@media (max-width: 350px) {
  .transformation .transformation__title {
    font-size: 30px;
  }
}
.transformation .transformation__title .transformation__title-span {
  font-size: 20px;
  font-family: "Golos Text", sans-serif;
  color: #3057A2;
  display: inline-block;
  text-transform: none;
  width: 280px;
  line-height: 120%;
  margin-left: 20px;
}
@media (max-width: 770px) {
  .transformation .transformation__title .transformation__title-span {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 12px;
  }
}
.transformation .transformation__blocks {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: #313131;
  font-size: 20px;
  position: relative;
}
@media (max-width: 1280px) {
  .transformation .transformation__blocks {
    font-size: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 770px) {
  .transformation .transformation__blocks {
    display: flex;
    margin-top: 148px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .transformation .transformation__blocks ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }
}
.transformation .transformation__blocks .transformation__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  overflow: hidden;
  grid-column: span 1;
}
@media (max-width: 1280px) {
  .transformation .transformation__blocks .transformation__item br {
    display: none;
  }
}
@media (max-width: 770px) {
  .transformation .transformation__blocks .transformation__item {
    flex-shrink: 0;
    width: 100%;
    padding: 62px 24px 34px 20px;
    scroll-snap-align: start;
    flex: 0 0 100%;
    min-width: 100%;
    gap: 28px;
  }
  .transformation .transformation__blocks .transformation__item.desc {
    display: none;
  }
}
.transformation .transformation__blocks .transformation__item .transformation__item-block {
  display: flex;
  gap: 16px;
}
.transformation .transformation__blocks .transformation__item .transformation__item-block.mobile {
  display: none;
}
@media (max-width: 770px) {
  .transformation .transformation__blocks .transformation__item .transformation__item-block.mobile {
    display: flex;
  }
}
.transformation .transformation__blocks .transformation__item::before {
  content: "";
  width: 912px;
  height: 474px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/img/photo/transform1.webp");
  z-index: -2;
}
@media (max-width: 1280px) {
  .transformation .transformation__blocks .transformation__item::before {
    min-width: 110%;
    background-size: cover;
  }
}
.transformation .transformation__blocks .transformation__item .transformation__item-number {
  font-weight: 600;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 770px) {
  .transformation .transformation__blocks .transformation__item .transformation__item-number {
    font-size: 20px;
  }
}
.transformation .transformation__blocks .transformation__item .transformation__item-text {
  font-weight: 500;
}
@media (max-width: 770px) {
  .transformation .transformation__blocks .transformation__item .transformation__item-text {
    font-size: 18px;
  }
}
.transformation .transformation__blocks .transformation__item:nth-of-type(3) {
  grid-row: span 2;
}
@media (max-width: 1280px) {
  .transformation .transformation__blocks .transformation__item:nth-of-type(3) {
    grid-row: span 1;
  }
}
.transformation .transformation__blocks .transformation__item:nth-of-type(7) {
  grid-column: span 2;
}
.transformation .transformation__blocks .transformation__item:nth-of-type(7) .transformation__item-text {
  max-width: 446px;
}
@media (max-width: 1280px) {
  .transformation .transformation__blocks .transformation__item:nth-of-type(7) .transformation__item-text {
    max-width: 70%;
  }
}
@media (max-width: 950px) {
  .transformation .transformation__blocks .transformation__item:nth-of-type(7) .transformation__item-text {
    max-width: 50%;
  }
}
@media (max-width: 770px) {
  .transformation .transformation__blocks .transformation__item:nth-of-type(7) .transformation__item-text {
    max-width: none;
  }
}
.transformation .transformation__control {
  display: none;
}
@media (max-width: 770px) {
  .transformation .transformation__control {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 28px;
    justify-content: center;
  }
}
.transformation .transformation__control .transformation__dots {
  display: flex;
}
.transformation .transformation__control .transformation__dots .transformation__dots-container {
  padding: 3px;
}
.transformation .transformation__control .transformation__dots .transformation__dots-container .transformation__dots-dot {
  display: block;
  width: 10px;
  height: 10px;
  background: #D0D0D0;
  border-radius: 50%;
  transition: 0.3s;
}
.transformation .transformation__control .transformation__dots .transformation__dots-container .transformation__dots-dot.active {
  background: #1F1F1F;
}
.transformation .transformation__container {
  position: relative;
}
.transformation .transformation__container::after {
  content: "";
  position: absolute;
  background-image: url("/img/photo/airplane.webp");
  z-index: 1;
  right: -62px;
  bottom: 0;
  width: 401px;
  height: 235px;
}
@media (max-width: 1280px) {
  .transformation .transformation__container::after {
    width: 308.4615384615px;
    height: 180.7692307692px;
    background-size: contain;
    right: -40px;
    bottom: -40px;
  }
}
@media (max-width: 770px) {
  .transformation .transformation__container::after {
    width: 335px;
    height: 182px;
    background-size: cover;
    top: -128px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.transformation .transformation__container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/img/photo/transform2.webp");
  z-index: -1;
  mix-blend-mode: color-burn;
}

.transformation__btn {
  width: 36px;
  height: 36px;
  background: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.transformation__btn:hover {
  background: #FBCE51;
}
.transformation__btn.transformation__prev {
  transform: rotate(180deg);
}
.transformation__btn:disabled {
  background: #D0D0D0;
}

.party {
  max-width: 1222px;
  margin: 0 auto;
  margin-top: 200px;
  margin: 200px auto 140px auto;
  position: relative;
}
@media (max-width: 1280px) {
  .party {
    margin: 200px 20px 140px 20px;
  }
}
@media (max-width: 770px) {
  .party {
    margin: 120px 20px 176px 20px;
  }
}
.party .party__container {
  overflow: hidden;
}
.party .party__top {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0;
}
.party .party__top .party__top-title {
  font-size: 54px;
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  line-height: 120%;
}
@media (max-width: 770px) {
  .party .party__top .party__top-title {
    font-size: 36px;
    line-height: 110%;
  }
}
.party .party__top .party__controller {
  display: flex;
  gap: 14px;
  align-items: center;
  color: #313131;
  font-size: 16px;
  flex-shrink: 0;
}
@media (max-width: 770px) {
  .party .party__top .party__controller {
    position: absolute;
    bottom: -76px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.party .party__top .party__controller .party__counter-line {
  opacity: 0.6;
}
.party .party__top .party__controller .party__counter-all {
  opacity: 0.6;
}
.party .party__blocks {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  color: #313131;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.party .party__blocks ::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.party .party__blocks .party__person {
  width: 394px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0;
  line-height: 120%;
}
@media (max-width: 1280px) {
  .party .party__blocks .party__person {
    width: calc(50% - 10px);
  }
}
@media (max-width: 770px) {
  .party .party__blocks .party__person {
    width: 100%;
  }
}
.party .party__blocks .party__person .party__person-img {
  width: 100%;
  max-width: 320px;
}
@media (max-width: 770px) {
  .party .party__blocks .party__person .party__person-img {
    width: 244px;
    height: 244px;
  }
}
.party .party__blocks .party__person .party__person-name {
  font-size: 24px;
  font-weight: 600;
  margin: 28px 0 6px 0;
  text-align: center;
}
@media (max-width: 1280px) {
  .party .party__blocks .party__person .party__person-name {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .party .party__blocks .party__person .party__person-name {
    font-size: 24px;
  }
}
.party .party__blocks .party__person .party__person-title {
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 1280px) {
  .party .party__blocks .party__person .party__person-title {
    font-size: 18px;
  }
}
@media (max-width: 770px) {
  .party .party__blocks .party__person .party__person-title {
    font-size: 20px;
  }
}
.party .party__blocks .party__person .party__person-button {
  width: 135px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #3057A2;
  border: 1px solid #3057A2;
  border-radius: 62px;
  transition: 0.3s;
}
.party .party__blocks .party__person .party__person-button:hover {
  background: #3057A2;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  padding: 40px 0 72px 0;
  background: #E9DED4;
}
@media (max-width: 770px) {
  .footer {
    padding-bottom: 60px;
  }
}
.footer .footer__text {
  max-width: 1222px;
  margin: 0 auto;
  color: #313131;
  letter-spacing: 0;
  line-height: 120%;
  font-size: 16px;
}
@media (max-width: 1280px) {
  .footer .footer__text {
    margin: 0 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #1F1F1F;
  font-family: "Golos Text", sans-serif;
  background: #FFFFFF;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
